.list {
  /* Frame 23 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 144px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.listItem {
  width: 24px;
  height: 24px;

  flex: none;
  flex-grow: 0;
}
